{% extends "mobetta/base/file_list.html" %}
{% load i18n %}


{% block table %}
<table class="file-list">
    <thead>
        <tr>
            <th class="file-list__header">{% trans "App name" %}</th>
            <th class="file-list__header">{% trans "Total messages" %}</th>
            <th class="file-list__header">{% trans "Filename" %}</th>
            <th class="file-list__header">{% trans "Created" %}</th>
            <th class="file-list__header">{% trans "Edit history" %}</th>
            <th class="file-list__header">{% trans "JSON file" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
          {% with file.get_statistics as stats %}
            <tr class="{% cycle 'row1' 'row2' %}" id="file_detail_{{ file.pk }}">
                <td class="file-list__appname">
                    <a href="{% url 'mobetta:icu_file_detail' pk=file.pk %}">{{ file.name }}</a>
                </td>
                <td class="file-list__stat">{{ stats.total_messages }}</td>
                <td class="file-list__filename">
                    <span title="{{ file.filepath }}">{{ file.filepath }}</span>
                </td>
                <td>
                    {% blocktrans trimmed with time_ago=file.created|timesince %}
                        {{ time_ago }} ago
                    {% endblocktrans %}
                </td>
                <td>
                    <a href="{% url 'mobetta:edit_history' pk=file.pk %}">{% trans "View" %}</a>
                </td>
                <td>
                    <a href="{% url 'mobetta:icu_download' pk=file.pk %}" download="{{ file.name|lower }}_{{ file.language_code }}.json">{% trans 'Download' %}</a>
                </td>
            </tr>
          {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
