*.py[co]
__pycache__

# Packaging/distribution
*.egg-info
*.eggs
build/
dist/
env/

# tests
.tox
.coverage
cover
tests/static
*.db
tests/locale/nl/LC_MESSAGES/django\.mo
\.cache/v/cache/lastfailed
coverage\.xml
junit\.xml

# docs
docs/_build
docs/_static
docs/_templates

# IDE/editors
.vscode
