@import "settings/all";
@import "animations/all";
@import "components/all";


.format-token {
    font-weight: bold;
    color: $format-token-color;
}

.errorlist {
    color: $error-color;
}

.auto-suggestion-error {
    color: $error-color;
}

.button-group {
    display: block;
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 12px;
    background-color: rgb(153, 153, 153);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-radius: 15px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #fff;
}

.button.button--right {
    float: right;
}
