table {
    width: 80%;
}

td {
    font-size: 14px;
    line-height: 24px;
}

tr.warning {
    background-color: #ffaaaa;
}

.transrow:hover {
    font-style: italic;
    background-color: #ccccff;
}

.transrow input[type="text"] {
    font-size: 14px;
    line-height: 20px;
    width: 80%;
}
