{% extends "mobetta/base.html" %}
{% load i18n %}

{% block pagetitle %}{{ block.super }} - {% trans "File" %} - {% trans "Edit history" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'mobetta:language_list' %}">{% trans "Home" %}</a>
  &rsaquo; {{ _('Add translator') }}
</div>
{% endblock breadcrumbs %}

{% block content %}
<h3>{% trans "Add translator" %}</h3>
<form id="add-translator-form" method="post">
  {% csrf_token %}
  {{ form.as_ul }}
  <input type="submit" value="{% trans 'Add' %}" />
</form>
{% endblock content %}
