{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/mobetta.css' %}" type="text/css"/>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <div class="breadcrumbs">{% trans "Home" %}</div>
{% endblock breadcrumbs %}

{% block branding %}
    <h1 id="site-name">Mobetta</h1>
{% endblock %}
