{% extends "mobetta/base.html" %}
{% load i18n %}

{% block pagetitle %}{{ block.super }} - {% trans "File" %} - {% trans "Edit history" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'mobetta:language_list' %}">{% trans "Home" %}</a>
  &rsaquo; <a href="{% url 'mobetta:file_list' lang_code=translation_file.language_code %}">{{ translation_file.get_language_name }}</a>
  &rsaquo; <a href="{% url 'mobetta:file_detail' pk=translation_file.pk %}">{{ translation_file.filepath }}</a>
  &rsaquo; {{ _('Edit history') }}
</div>
{% endblock %}

{% block content %}
<h3>{% trans "Edit history for" %} {{ translation_file.filepath }}</h3>
<hr/>
<br/>
<table cellspacing="0">
    <thead>
        <tr>
            <th>
                {% trans "Time" %}
                <a href="?order_by=-time">&#9660;</a>
                <a href="?order_by=time">&#9650;</a>
            </th>
            <th>
                {% trans "Updated by" %}
                <a href="?order_by=-user">&#9660;</a>
                <a href="?order_by=user">&#9650;</a>
            </th>
            <th>
                {% trans "Message Hash" %}
                <a href="?order_by=-msghash">&#9660;</a>
                <a href="?order_by=msghash">&#9650;</a>
            </th>
            <th>
                {% trans "Message ID" %}
                <a href="?order_by=-msgid">&#9660;</a>
                <a href="?order_by=msgid">&#9650;</a>
            </th>
            <th>
                {% trans "Field" %}
                <a href="?order_by=-fieldname">&#9660;</a>
                <a href="?order_by=fieldname">&#9650;</a>
            </th>
            <th>
                {% trans "Old value" %}
                <a href="?order_by=-old_value">&#9660;</a>
                <a href="?order_by=old_value">&#9650;</a>
            </th>
            <th>
                {% trans "New value" %}
                <a href="?order_by=-new_value">&#9660;</a>
                <a href="?order_by=new_value">&#9650;</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for edit in edits %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ edit.created }}</td>
            <td>{{ edit.user }}</td>
            <td>{{ edit.msghash }}</td>
            <td>{{ edit.msgid }}</td>
            <td>{{ edit.fieldname }}</td>
            <td>{{ edit.old_value }}</td>
            <td>{{ edit.new_value }}</td>
          </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'mobetta/pagination.html' %}

{% endblock content %}
