{% extends "mobetta/base.html" %}
{% load static %}
{% load i18n %}
{% load message_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/file_detail.css' %}" type="text/css"/>
    {{ block.super }}
{% endblock %}

{% block pagetitle %}
    {{ block.super }} - {% trans "Translations" %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'file_list' lang_code=file.language_code %}">{% trans "Home" %}</a> &rsaquo; {% trans "Translations" %}
    </div>
{% endblock breadcrumbs %}


{% block content %}
    <div id="content-main">

        <div class="module">

            <h2>{% trans "Translations" %}</h2>

            <div id="toolbar">
                <form id="translation-search" action="" method="get">
                    <div>
                        <label for="searchbar"><img src="{% static "admin/img/icon_searchbox.png" %}" alt="{% trans "Search" %}" /></label>
                        <input type="search" size="40" name="search_tags" value="{{ search_tags }}" id="searchbar" tabindex="0" />
                        <input type="submit" value="{% trans "Go" %}" />

                        <ul class="changelist-filters">
                            <li>
                                <a href="{% url 'file_detail' pk=file.pk %}{% if filter_query_params%}?{{ filter_query_params }}{% endif %}">All</a>
                            </li>
                            <li>
                                <a href="{% url 'file_detail' pk=file.pk %}?type=fuzzy{% if filter_query_params%}&{{ filter_query_params }}{% endif %}">Fuzzy</a>
                            </li>
                            <li>
                                <a href="{% url 'file_detail' pk=file.pk %}?type=translated{% if filter_query_params%}&{{ filter_query_params }}{% endif %}">Translated</a>
                            </li>
                            <li>
                                <a href="{% url 'file_detail' pk=file.pk %}?type=untranslated{% if filter_query_params%}&{{ filter_query_params }}{% endif %}">Untranslated</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <form id="translation-edit" action="" method="post">
                {{ formset.management_form }}
                {% csrf_token %}

                <table cellspacing="0">
                    <thead>
                        <tr>
                            <th>{% trans "Original" %}</th>
                            <th>{% trans "Context" %}</th>
                            <th>{% trans "Translation" %}</th>
                            <th>{% trans "Fuzzy" %}</th>
                            <th>{% trans "Occurrences" %}</th>
                            <th>{% trans "Last edited" %}</th>
                            {% if suggestions %}
                              <th>{% trans "Suggestion" %}</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for form in formset %}
                            <tr class="transrow {% cycle 'row1' 'row2' %}{% if translation.obsolete %} warning{% endif %}">
                                <td>
                                  {{ form.msgid }}
                                  {{ form.msgid.value|highlight_tokens|safe }}
                                </td>
                                <td>
                                  {{ form.context }}
                                  {{ form.context.errors }}
                                </td>
                                <td>
                                  {{ form.translation }}
                                  {{ form.translation.errors }}
                                  {{ form.non_field_errors }}
                                </td>
                                <td>
                                  {{ form.fuzzy }}
                                  {{ form.fuzzy.errors }}
                                </td>
                                <td>
                                  {{ form.occurrences.value }}
                                </td>
                                <td>
                                  {% last_edit file form.msgid.value %}
                                </td>
                                {% if suggestions %}
                                  <td>
                                    {{ suggestions|get_item:form.msgid.value }}
                                  </td>
                                {% endif %}
                            </tr>
                            {{ form.old_translation }}
                            {{ form.old_fuzzy }}
                            {{ form.old_context }}
                        {% endfor %}
                    </tbody>
                </table>

                <div class="submit-row">

                    <input type="submit" />

                    <p class="paginator">
                        {% if page.paginator.num_pages > 1 %}
                            {% trans "Skip to page:" %}

                            {% for i in page.paginator.page_range %}
                                {% if i == page.number %}
                                    <span class="this-page">{{i}}</span>
                                {% else %}
                                    <a href="?page={{i}}{% if page_query_params %}&{{ page_query_params }}{% endif %}">{{i}}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% trans "Displaying:" %}
                        {% endif %}

                        <strong>
                            {% blocktrans count message_number=page|length with hits=page.paginator.count %}
                                {{ message_number }}/{{ hits }} message{% plural %}{{ message_number }}/{{ hits }} messages
                            {% endblocktrans %}
                        </strong>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

