{% extends "mobetta/base/file_detail.html" %}
{% load static i18n message_tags mobetta_tags %}


{% block form %}
<div class="module" id="changelist">

    <div id="toolbar" class="translation-search">
        <form id="translation-search" action="" method="get">
            <div id="changelist-search">
                <label for="searchbar">
                    <img src="{% static 'admin/img/search.svg' %}" alt="{% trans 'Search' %}" />
                </label>
                <input type="text" size="40" name="search_tags" value="{{ search_tags }}" id="searchbar" tabindex="0" />
                <input type="submit" value="{% trans 'Go' %}" />
            </div>
        </form>
    </div>

    <form id="translation-edit" action="" method="post">
        {{ formset.management_form }}
        {% csrf_token %}

        {% block formset %}
        <table class="file-detail">
            <thead>
                <tr>
                    <th class="file-detail__header file-detail__header--msgid">{% trans "Original" %}</th>
                    <th class="file-detail__header file-detail__header--context">{% trans "Context" %}</th>
                    <th class="file-detail__header file-detail__header--translation">{% trans "Translation" %}</th>
                    <th class="file-detail__header file-detail__header--fuzzy">{% trans "Fuzzy" %}</th>
                    <th class="file-detail__header file-detail__header--occurrences">{% trans "Occurrences" %}</th>
                    <th class="file-detail__header file-detail__header--last-edit">{% trans "Last edited" %}</th>
                    {% if show_suggestions %}
                      <th class="file-detail__header file-detail__header--suggestions">{% trans "Suggestion" %}</th>
                    {% endif %}
                    <th class="file-detail__header file-detail__header--comments">{% trans "Comments" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for form in formset %}
                    <tr class="transrow {% cycle 'row1' 'row2' %}{% if translation.obsolete %} warning{% endif %}">
                        <td class="file-detail__msgid">
                          {{ form.msgid }}
                          {{ form.md5hash }}
                          {{ form.msgid.value|highlight_tokens|safe|linebreaksbr }}
                        </td>
                        <td class="file-detail__context">
                          {{ form.context.value|default:_('-')|escape }}
                        </td>
                        <td class="file-detail__translation">
                          {{ form.translation }}
                          {{ form.translation.errors }}
                          {{ form.non_field_errors }}
                        </td>
                        <td>
                          {{ form.fuzzy }}
                          {{ form.fuzzy.errors }}
                        </td>
                        <td>
                          <code>{{ form.occurrences.value|safe }}</code>
                        </td>
                        <td>
                          {% last_edit file form.md5hash.value %}
                        </td>
                        {% if show_suggestions %}
                          <td>
                            <button type="button" class="show-suggestion" data-form-prefix="{{ form.prefix }}" data-url="{% url 'mobetta:api:translation_suggestion' %}?msgid={{ form.msgid.value|iriencode }}&language_code={{ file.language_code }}">Show suggestion</button>
                            <span class="auto-suggestion" id="id_{{ form.prefix }}-auto-suggestion"></span>
                            <span class="auto-suggestion-error" id="id_{{ form.prefix }}-auto-suggestion-error"></span>
                          </td>
                        {% endif %}

                        <td>
                            <div class="trans-comments">

                                <button type="button" class="translation-action add-comment" data-msghash="{{ form.md5hash.value }}" data-msgid="{{ form.msgid.value }}" data-filepk="{{ file.pk }}" data-form-prefix="{{ form.prefix }}">
                                    {% trans "Add comment" %}
                                </button>

                                {% comment_count file form.md5hash.value as comment_count %}
                                {% if comment_count %}
                                    <button type="button" class="translation-action view-comments" data-msghash="{{ form.md5hash.value }}" data-msgid="{{ form.msgid.value }}" data-url="{% url 'mobetta:api:messagecomment-list' %}?translation_file={{ file.pk }}&msghash={{ form.md5hash.value|iriencode }}">
                                        {% blocktrans count comment_count=comment_count trimmed %}
                                            View 1 comment
                                        {% plural %}
                                            View {{ comment_count}} comments
                                        {% endblocktrans %}
                                    </button>
                                {% endif %}
                            </div>
                        </td>

                    </tr>
                    {{ form.old_translation }}
                    {{ form.old_fuzzy }}
                {% endfor %}
            </tbody>
        </table>
        {% endblock formset %}

        <div class="submit-row">
            <input type="submit" />
        </div>
    </form>

    {% include 'mobetta/pagination.html' %}

</div>
{% endblock form %}
