{% extends "mobetta/base.html" %}
{% load i18n %}

{% block pagetitle %}{{ block.super }} - {% trans "Translation files" %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">{% trans "Home" %}</div>
{% endblock breadcrumbs %}

{% block content %}
<table cellspacing="0">
    <thead>
        <tr>
            <th>{% trans "App name" %}</th>
            <th>{% trans "Filename" %}</th>
            <th>{% trans "Created" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td><a href="{% url 'file_detail' pk=file.pk %}">{{ file.name }}</a></td>
            <td>{{ file.filepath }}</td>
            <td>{{ file.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
