{% extends "mobetta/base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans "Home" %}{% endblock pagetitle %}

{% block content %}

<h1>{% trans "Languages" %}</h1>

<ul class="object-tools">
    <li>
      <a href="{% url 'mobetta:compile_po_files' %}" class="historylink">
        {% trans 'Compile all po files' %}
      </a>
    </li>
</ul>


<ul class="tabs">
    <li class="tabs__tab">
        <input type="radio" name="tabs" id="tab1" class="tabs__radio" checked />
        <label class="tabs__tab-header" for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" id="po">
            {% trans "PO files" %}
        </label>
        <div id="tab-content1" class="tabs__tab-content" role="tabpanel" aria-labelled-by="po" aria-hidden="false">
            {% include "mobetta/include/language_list.html" with url_name='mobetta:file_list' object_list=languages only %}
            <hr>
        </div>
    </li>
    {% if icu_languages %}
    <li class="tabs__tab">
        <input type="radio" name="tabs" id="tab2" class="tabs__radio" />
        <label class="tabs__tab-header" for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="1" id="icu">
            {% trans "ICU files" %}
        </label>
        <div id="tab-content2" class="tabs__tab-content" role="tabpanel" aria-labelled-by="icu" aria-hidden="true">
            {% include "mobetta/include/language_list.html" with url_name='mobetta:icu_file_list' object_list=icu_languages only %}
        </div>
    </li>
    {% endif %}
</ul>

{% endblock content %}
