.modal__content {
  position: relative;
  background-color: $modal-content-background-color;
  margin: auto;
  padding: 0;

  border: 1px solid #888;
  width: 50%;

  box-shadow: 0 4px 8px 0 rgba($black, 0.2),
              0 6px 20px 0 rgba($black, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
