$black: #000000;
$white: #ffffff;

// color for error feedback
$error-color: #bb0000 !default;

// color for placeholder tokens
$format-token-color: #ff0000 !default;

// close button for modals
$btn-close-color: #aaaaaa !default;
$btn-close-color-hover: $black !default;
