$language-list-even-color: rgba(#ecedf5, .5) !default;

.language-list {
  border-collapse: collapse;
  width: 100%;

  &__row {
    &:nth-child(even) {
      background-color: $language-list-even-color;
    }
  }

  &__header {
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
  }

  &__lang-name {
    font-weight: 600;
    padding: 1em;
    text-transform: uppercase;
  }

  &__no-files {
    padding: 1em;
  }
}
